src/main/app/company-search.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <flow name="CompanySearch">
        <set-variable variableName="searchTerm" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Search Term"/>
        <enricher target="#[flowVars.token]" doc:name="Message Enricher">
            <flow-ref name="QuoteCredentials" doc:name="QuoteCredentials"/>
        </enricher>
        <http:request config-ref="Dnb_HTTP_Request" path="${dnb.search.path}" method="GET" doc:name="Search Term Request">
            <http:request-builder>
                <http:query-param paramName="KeywordText" value="#[flowVars.searchTerm]"/>
                <http:query-param paramName="SearchModeDescription" value="Basic"/>
                <http:query-param paramName="findcompany" value="true"/>
                <http:query-param paramName="Content-Type" value="application/json"/>
                <http:header headerName="Authorization" value="#[flowVars.token]"/>

            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="54134aa6-834c-4e65-aaac-8e1549f22a17" doc:name="Prepare company search response">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload.FindCompanyResponse.FindCompanyResponseDetail.FindCandidate map ((findCandidate , indexOfFindCandidate) -> {
	address: findCandidate.PrimaryAddress.StreetAddressLine.LineText[0],
	duns: findCandidate.DUNSNumber,
	name: findCandidate.OrganizationPrimaryName.OrganizationName."\$",
	town: findCandidate.PrimaryAddress.PrimaryTownName,
	postcode: findCandidate.PrimaryAddress.PostalCode,
	telephone: findCandidate.TelephoneNumber.TelecommunicationNumber
})]]></dw:set-payload>
        </dw:transform-message>

        <exception-strategy ref="Global_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
